<section class="big-section">
  <section>
    <figure>
      <img class="add-profile-pic" src="/assets/images/My-programs.png" alt="">
      <h2>Jane Smith</h2>
    </figure>
  </section>
  <section>

    <a routerLink="/add-program">
      <figure>
        <img class="normal" src="/assets/images/Add-new-program.png" alt="+">
        <img class="hover" src="/assets/images/Add-new-program-hover.png" alt="+">
        <img class="active" src="/assets/images/Add-new-program-on.png" alt="+">
        <h3>ADD NEW PROGRAM</h3>
      </figure>
    </a>


    <a routerLink="/my-programs">
      <figure>
        <img class="normal" src="/assets/images/My-programs.png" alt="programs">
        <img class="hover" src="/assets/images/My-programs-hover.png" alt="programs">
        <img class="active" src="/assets/images/My-programs-on.png" alt="programs">
        <h3>MY PROGRAMS</h3>
      </figure>
    </a>


    <a routerLink="/my-profile">
      <figure>
        <img class="normal" src="/assets/images/My-profile.png" alt="profile">
        <img class="hover" src="/assets/images/My-profile-hover.png" alt="profile">
        <img class="active" src="/assets/images/My-profile-on.png" alt="profile">
        <h3>MY PROFILE</h3>
      </figure>
    </a>

  </section>
</section>