

<section class="big-section">
    <section>
        <figure>
            <img class="add-profile-pic" src="/assets/images/My-programs.png" alt="">
            <h2>Jane Smith</h2>
        </figure>
    </section>
    <section>

          
          <figure>
            <img class="normal" src="/assets/images/Add-new-program.png" alt="+">
            <img class="hover" src="/assets/images/Add-new-program-hover.png" alt="+">
            <h3>ADD NEW PROGRAM</h3>
          </figure>

          <figure>
            <img class="normal" src="/assets/images/My-programs.png" alt="programs">
            <img class="hover" src="/assets/images/My-programs-hover.png" alt="programs">
            <h3>MY PROGRAMS</h3>
          </figure>
          
          <figure>
            <img class="normal" src="/assets/images/My-profile.png" alt="profile">
            <img class="hover" src="/assets/images/My-profile-hover.png" alt="profile">
            <h3>MY PROFILE</h3>
          </figure>
    </section>
</section>
