<section>
    <h1>REGISTER</h1>
    <div>
        <h2>PERSONAL INFORMATION</h2>
        <form action="/submit" method="post">
            <input type="text" id="first-name" name="first-name" placeholder="FIRST NAME*" required>
            <input type="text" id="last-name" name="last-name" placeholder="LAST NAME*" required>
            <input type="text" id="email" name="email" placeholder="EMAIL*" required>
            <input type="text" id="teaching-languages" name="teaching-languages" placeholder="TEACHING LANGUAGES*"
                required>
            <input type="text" id="mobile-number" name="mobile-number" placeholder="MOBILE NUMBER*" required>
            <input type="text" id="whatsapp-number" name="whatsapp-number" placeholder="WHATSAPP NUMBER*" required>
            <input type="text" id="country" name="country" placeholder="COUNTRY*" required>
            <input type="text" id="city" name="city" placeholder="CITY*" required>
            <input type="text" id="teaching-location-adress" name="teaching-location-adress"
                placeholder="TEACHING LOCATION ADRESS*" required>
            <input type="text" id="website" name="website" placeholder="WEBSITE*" required>
            <label for="upload-profile-picture" class="file-upload-label">
                <span>UPLOAD PROFILE PICTURE (JPG / PNG / PDF)</span>
                <input type="file" id="upload-profile-picture" name="upload-profile-picture" required>
            </label>
            <button id="select-button">SELECT</button>

        </form>
        <h2>SOCIAL MEDIA</h2>
        <form action="/submit" method="post">
            <input type="text" id="facebook" name="facebook" placeholder="FACEBOOK*" required>
            <input type="text" id="instagram" name="instagram" placeholder="INSTAGRAM*" required>
            <input type="text" id="linkedin" name="linkedin" placeholder="LINKEDIN*" required>
            <input type="text" id="youtube" name="youtube" placeholder="YOUTUBE*" required>
            <input type="text" id="tiktok" name="tiktok" placeholder="TIKTOK*" required>
            <input style="margin-bottom: 50px;" type="text" id="other" name="other" placeholder="OTHER*" required>
        </form>
    </div>
    <button id="register-button">REGISTER</button>
</section>