<section>
    <h1>LOGIN</h1>
    <div id="big-div">
        <div>
            <form action="/submit" method="post">
                <input type="text" id="email" name="email" placeholder="EMAIL*" required>
                <input type="text" id="password" name="password" placeholder="PASSWORD*" required>
            </form>
        </div>
        <button id="login-button">LOGIN</button>
    </div>

    <div id="forgot">
        <p id="forgot-para"><a href="">Forgot username</a> | <a href="">Forgot password</a></p>
    </div>
</section>